/// <mls fileReference="_102025_/l2/collabMessagesTasks.less" enhancement="_102027_/l2/enhancementStyle" />

collab-messages-tasks-102025 {
    display: flex;
    height: 100%;
    overflow: hidden;

    collab-tasks-sidebar-102025 {
        flex: 1;
    }
}
