/// <mls fileReference="_102025_/l2/collabMessagesSettingsGeral.less" enhancement="enhancementStyle"/>

collab-messages-settings-geral-102025 {

    display: block;
    overflow: auto;
    font-family: @font-family-primary;
    font-size: @font-size-16;
    font-weight: @font-weight-normal;
    line-height: 1.5;
    color: @text-default;
    background-color: @surface-bg;
    padding: 1rem;
    height: calc(100% - 41px);
    width: 375px;
    >section{
        margin-bottom: 1.25rem;

        &.hidden {
            display: none;
        }
    }


}


